<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border box</p>
    </div>
    <br> <br>

    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>

    <span class="inline">Inline Element</span>

    <div class="inline-block">Inline-Block Element</div>
    <br> <br>

    <h2>Positioning Element Example</h2>

    <div class="sticky">Sticky Position</div>

    <div class="static">Static Position</div>

    <div class="relative">Relative Position</div>

    <div class="absolute">Absolute Position</div>

    <div class="fixed">Fixed Position</div>
    <br> <br>

    <h2>Floats and Clearing Floats Example</h2>

    <div>
        <div class="float-right">Float Right</div>

        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatibus rerum esse eos est nihil, repellendus magni quam iste illo ullam officiis et magnam mollitia quo debitis ex a vitae quaerat! Maxime qui odio assumenda iusto. Inventore iste corporis a, commodi deleniti sed harum quas consequuntur veritatis! Ut, accusamus voluptatum.
    </div>

    <div>
        <div class="float-left">Float Left</div>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, suscipit. Quod cum at sed iste dolorum quo, reiciendis dolore veritatis quidem rem voluptate placeat iure repudiandae consequatur, assumenda consequuntur praesentium. Inventore mollitia iusto alias porro odio. Quo, error. Repellat illum reprehenderit iusto nam dignissimos, dolorem, earum voluptatibus et, incidunt atque explicabo. Animi quasi repellendus quibusdam? Et necessitatibus eveniet tempore, eligendi voluptatem nam ullam, aperiam nobis inventore esse animi minima explicabo, sunt voluptatum laudantium tempora corrupti possimus. Voluptatum pariatur eaque neque ut quae iure molestiae a beatae quaerat animi, explicabo temporibus quos nihil eius praesentium facilis quo natus similique voluptate reiciendis!

        <div class="clear-floats">Clear Floats</div>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia molestiae ipsa quos ratione voluptatum sequi soluta nihil reiciendis, sapiente fuga saepe perspiciatis facilis enim consectetur, modi autem expedita exercitationem. Labore eius aspernatur dolorum accusamus ab nostrum dolores tempora placeat necessitatibus, nesciunt laborum laudantium consequatur quae. Doloremque modi consequatur odit nisi?
    </div>

    <h2>Centering Elements Example</h2>

    <div class="parent-box">
        <div class="center-horizontal">
            <p>This box is horizontally centered.</p>
        </div>
    </div>

    <div class="parent-box center-vertical">
        <div>
            <p>This text is vertically centered.</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
        <p>This text is vertically and horizontally centered.</p>
    </div>

    <br> <br> <br> <br> <br>
</body>
</html>